#dagster dependencies
dagster==1.5.1
dagster-pandas==0.21.1
dagstermill
dagster-aws==0.21.1
dagster-postgres==0.21.1
dagster-spark==0.21.1
dagster-pyspark==0.21.1
dagster-webserver
# general packages -> from: https://github.com/dagster-io/dagster/blob/master/python_modules/dagster/dev-requirements.txt
# astroid>=2.3.3; python_version >= '3.6'
# coverage==4.5.4 # 5.0 release on 12/19 broke everything
# freezegun>=0.3.15
# grpcio-tools==1.30.0
# pytest-mock==2.0.0
# nbsphinx==0.4.2
# pytest-cov==2.8.1
# pytest-dependency==0.4.0
# pytest-runner==5.2
# recommonmark==0.4.0
# snapshottest==0.5.1
# tqdm==4.48.0 # pylint crash 48.1+
#my additional requirement
#docker-compose==1.23.2
pyspark
#pyspark>=3.0.0; python_version >= "3.8"
#pyspark>=2.0.2; python_version < "3.8"
#pyspark-stubs==3.0.0.dev8
pyarrow
pandas
boto3
pandasql
pyyaml
#requirements for comprehensive-real-estate-data-exploration.ipynb
numpy
pandasql
seaborn
folium
ijson
koalas
scipy
matplotlib
#intel-scikit-learn
scikit-learn
#protobuf==3.20.3
#markupsafe==2.0.1
#ipython_genutils
#graphql-ws==0.3.1
